<%= stylesheet_link_tag "MessagesNew.css" %>

<<<<<<< HEAD
<div class="messages-new-background">
  
  <div class="messages-new-container">
    <%= form_tag conversations_path, method: :post do %>
      <div class="email">
        <h3>Email:</h3>
        <%= select_tag :user_email, options_from_collection_for_select(@matchedUsers, :id, :name) %>
      </div>
    
      <div class="subject">
        <h3>Subject:</h3>
        <%= text_field_tag :subject, nil, placeholder: "Subject" %>
      </div>
    
      <div class="comment">
        <h3>Leave a message:</h3>
        <%=  text_area_tag :body, nil, placeholder: "Leave a comment"%>
      </div>
    
      <div class="send">
        <%= submit_tag "Send" %>
      </div>
    <% end %>
  </div>
</div>