<h1>New Conversation</h1>

<div>
  <p>mmooooove</p>
</div>
<%= form_tag conversations_path, method: :post do %>
  <div>
    <%= select_tag :user_email, options_from_collection_for_select(@matchedUsers, :id, :name) %>
  </div>

  <div>
    <%= text_field_tag :subject, nil, placeholder: "Subject" %>
  </div>

  <div>
    <%=  text_area_tag :body, nil, placeholder: "Leave a comment"%>
  </div>

  <%= submit_tag %>
<% end %>