<div class="music-body">
     <%= link_to image_tag("thumbsdown.png", size: "300x200").html_safe, {:controller => "pages", :action => "music", :user_email => current_user.email} %>
    <div class="music-song-container">
        <%= image_tag(@song['image_url'], :width => "50%") %>
        <p class="music-title"><%= @song['name'] %></p>
        <p class="music-artist"><%= @song['artist'] %></p>
    </div>
    <%= link_to image_tag("thumbsup.png", size: "300x200").html_safe, {:controller => "song", :action => "like", :song_id => @song["song_id"]}, :method=>:post %>
</div>
