<div class="music-body">
    <%= button_to 'Dislike', pages_music_path, method: :get %>
    <!-- <a href="#" class="arrow">&#8249;</a> -->
    <div class="music-song-container">
        <%= image_tag(@song['image_url'], :width => "50%") %>
        <p class="music-title"><%= @song['name'] %></p>
        <p class="music-artist"><%= @song['artist'] %></p>
    </div>
    <!-- <a href="#" class="arrow">&#8250;</a> -->
    <%= button_to 'Like', pages_music_path, method: :get %>
</div>
