<!DOCTYPE html>
<html>
  <head>
    <title>Spinder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <div class="navbar-container"> 
      <div class="navbar-title-container">
          <p class="navbar-title">spinder</p>
      </div>
      <div class="navbar-button-container">
          <%= link_to '<button class="navbar-button" type="button">Home</button>'.html_safe, root_path %>
          <% if (user_signed_in? == false) %>
              <%= link_to '<button class="navbar-button" type="button">Log in</button>'.html_safe, new_user_session_path %>
          <% end %>
          <% if user_signed_in? %>
              <%= link_to '<button class="navbar-button" type="button">Profile</button>'.html_safe, {:controller => "pages", :action => "profile", :user_email => current_user.email} %>
              <%= link_to '<button class="navbar-button" type="button">Music</button>'.html_safe, pages_music_path %>
              <%= link_to '<button class="navbar-button" type="button">Messages</button>'.html_safe, pages_messages_path %>
              <%= link_to '<button class="navbar-button" type="button">Sign out</button>'.html_safe, destroy_user_session_path, :method => 'delete'%>
          <% end %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
